@import url(/css/components/reset.css);
@import url(/css/components/header.css);
@import url(/css/components/hero.css);
@import url(/css/components/projects.css);
@import url(/css/components/footer.css);

/* general media query */
@media only screen and (min-device-width: 1450px) {
    body > header {
        max-width: 1400px;
        margin: auto;
    }

    body > section {
        max-width: 1400px;
        margin: auto;
    }
    body > footer {
        max-width: 1400px;
        margin: auto;
    }
}